body {
    font-family: helvetica;
    background: #FAFAFA;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------CORES E TAMANHO DE FONTES---------------*/

.C34 {
    color: #343434;
}
.C9B {
    color: #9B9B9B;
}

.C27 {
    color: #27A6FB;
}

.S22 {
    font-size: 22px;
}

.S14 {
    font-size:14px;
}

.S12 {
    font-size: 12px;
}

.S10 {
    font-size: 10px;
}


/*------------------------ TOPO ----------------------------------------------*/

.tops {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: #FFFFFFFF;
    z-index: 3;
}

.tops > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    height: 54px;
    margin: 0 auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-desktop {
    width: 120px;
    height: 34px;
}

.paperplane {
    display: none;
}

.tops .top:nth-child(2) {
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    height: 28px;
    width: 215px;  
}

.icon {
    margin-right: 15px;
}

/*----------------------------------- SEPARADORES ----------------------------------------*/

.horizontal-separator {
    margin-top: 54px;
    height: 1px;
    width: 100%;
    background: #DBDBDB;
    position: fixed;
    top:0;
    left: 0; 
    z-index: 3; 
}

.vertical-separator {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
    margin-left: 10px;
    margin-right: 10px;
}
/*-----------------------------------CONTAINER-------------------------------------------------*/

.container {
    display: flex;
    justify-content: space-between;
    width: 935px; 
    margin-top: 88px;
    position: relative;   
}

.container-right {
    width: 273px; 
    position: absolute;
    top:0; 
    right: 0;
}

.container-left {
    width:614px;
    position: absolute;
    top:0;
    left:0;
}

/*------------------------------------SIDE BAR -------------------------------------------------------*/
.side-bar {
    margin-top: 25px;
}

.bar-top {
    display: flex;
}

.bar-top p {
    margin-left:10px
}

.bar-top img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.bar-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.bar-body {
    display: flex;
    justify-content: space-between;
}

.bar-body > div {
    display: flex;
    align-items: center;
}

.bar-body img {
    width: 32px;
    height: 32px;
    border-radius: 28px;
}

.follow {
    margin-left: 10px;
}

span {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
/*--------------------------------------------- STORIES ------------------------------------------------------- */
.stories {
    height:118px;
    border: 1px solid #DBDBDB;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;

}

.storie img {
    height: 56px;
    width: 56px;
    border-radius: 50%; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}


.storie {
    width: 66px;
    height: 66px;
    text-align: center;
    background-image: url(/images/stories_background.jpg);
    background-size: cover;  
}

.stories > img {
    position: absolute  ;
    z-index: 2;
    right: 0;
}


/*--------------------------------------- POSTS-----------------------------------------------------*/
.posts {
    width: 614px;
    height: 749px;
    margin-top: 20px;
   
}

.post {
    border-radius: 3px;
    margin-bottom: 50px;
    border:1px solid #DBDBDB;
}

.post img {
    width: 100%;
    
}

.post-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 10px 10px 15px;
}

.posts .post .post-top div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.post-top p {
    margin-left: 10px;
}

.post-bottom {
    margin: 10px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.post-bottom div:first-child {
    margin-right: 40px;
}

.post-top img:first-child {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-top img:last-child, .post-bottom img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  
}


.posts .post div:nth-child(4) img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border-radius: 50%;
}


/*---------- Breakpoint 935px ---------------*/
@media (max-width:935px) {
   .tops > div {
       width: 100vw;
   }

    .container-right {
       display: none;
        width: 0vw;
   }

   .container {
       width: 614px;
   }
   
}

/*----------- Breakpoint 614px --------------*/
@media (max-width:614px) {
 
    .tops .top:nth-child(2), .tops .top:nth-child(3), .vertical-separator {
        display: none;
    }

    .tops .top:first-child{
        justify-content: space-between;
        width: 100%;
    }

    .paperplane {
        display: block;
    }
   
    .posts, .stories{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    .stories div:last-child{
        display: none;
    }

    .stories div:nth-of-type(8){
        display: none;
    }
}

@media (max-width:430px) {
    .tops {
        width: 100vw;
    }
    .stories div:nth-of-type(7), .stories div:nth-of-type(6) {
        display: none;
    }
}

@media (max-width:330px) {
    .tops {
        width: 100vw;
    }
    .stories div:nth-of-type(5){
        display: none;
    }
}