body {
    font-family: helvetica;
    background: #FAFAFA;
    color: #DBDBDB;
}

/*------------- TOPO ---------------*/

.tops {
    background: rgba(255,255,255,0.97);
    display: flex;
    position: fixed;
    top:0;
    left:215.5px;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    height: 54px;
    margin: 0 auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tops .top:nth-child(1) img:nth-child(1) {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.vertical-separator {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
    margin-right: 10px;
}

.logo-desktop {
    width: 120px;
    height: 34px;
}

.tops .top:nth-child(2) {
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    height: 28px;
    width: 215px;  
}

.tops .top:nth-child(3) img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

/*------------- SEPARADORES ---------------*/

.horizontal-separator {
    margin-top: 54px;
    height: 1px;
    width: 100%;
    background: #DBDBDB;
    position: fixed;
    top:0;
    left: 0;
    
   
}

.vertical-separator {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
    margin-right: 10px;
}

/*-------------- Stories ------------------- */

.stories {
    width: 614px;
    height:118px;
    margin-top: 88px;
    margin-left: 215.5px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    
}

.storie img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.storie {
    margin-left: 15px;
    text-align: center;
}

.photo {
    margin-top: 30px;
}

/*------------ Posts -----------------*/
.posts {
    width: 614px;
    height: 749px;
    margin-left: 215.5px;
    margin-top: 30px;
   
}

.post {
    border-radius: 3px;
    margin-bottom: 50px;
    border:1px solid #DBDBDB;
}

.post img {
    width: 100%;
    
}

.post-top {
   display: flex;
   justify-content: space-between;
   margin: 10px 10px 10px 15px;
}

.post-top img {
    margin-right: 15px;
}

.posts .post .post-top div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.post-bottom {
    margin: 10px 15px 0 15px;
    
    display: flex;
    justify-content: space-between;
}

.post-bottom div:first-child {
    margin-right: 40px;
}

.post-top img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-bottom img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.posts .post div:nth-child(4) {
    margin-left: 15px;
    align-items: center;
}

.posts .post div:nth-child(4) img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*---------- Breakpoint 935px ---------------*/
@media (max-width:935px) {



}


/*----------- Breakpoint 614px --------------*/
@media (max-width:634px) {
    .tops .top:nth-child(1) {
        margin: 0;
    }
    
    .tops .top:nth-child(2){
        display: none;
    }

    .vertical-separator {
        display: none;
    }

    
}
